/******************************************* color  *******************************************/
:root {
    --color-white: #ffffff;
    --color-green: #20ad96;
    --color-purple: #3f3a64;
    --color-grey-light: #f5f7fa;
    --color-grey-yellow: #f8f8f8;
    --color-baige: #f5f1ed;
    --color-dark-light: #696969;
    --color-purple-light: #8c89a2;
    --color-grey-dark: #dedbd9;
    --color-grey: #e9e6e3;
}

/*************************************** debug ***************************************/
/* [class^="col"] {
    border: 2px dashed red;
}

section {
    border: 2px dashed green;
}

[class^="row"] {
    border: 2px dashed black;
} */

/********************************** background and colors general  **********************************/

.bg-personal-grey {
    background-color: var(--color-grey);
}

.bg-personal-grey-dark {
    background-color: var(--color-grey-dark);
}

.bg-personal-grey-light {
    background-color: var(--color-grey-light);
}

.bg-personal-grey-yellow {
    background-color: var(--color-grey-yellow);
}

.p-color-green {
    color: var(--color-green);
}



/***************************************** main *****************************************/


/******************* section complete your dream  *******************/


/******************* section build your dream today  *******************/

/********** section cosnstruct a stunning career perspective **********/

/********************* section Lastest Featured Courses *********************/
/* badge prezzo */
.badge-cost {
    background-color: var(--color-green);
    color: var(--color-grey-light);
    font-size: 1.3rem;
    padding: 10px 10px;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
}

/* immagine nome  e cognome dell'insegnante */
.img-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile-name {
    font-size: 0.9rem;
}